.geo {
	vertical-align:top;
}

a {
	color: blue;
}

.lb{
	width:100%;
	font-size:12px;
	font-family:Verdana;
	height:400pt;
}

.hdr
{
}

.comment
{
	font-style:italic;
}

.alert
{
	font-style:bold;
}

img
{
	padding-bottom:-2pt;
}

.sidepad
{
}
