.geo {
	vertical-align:top;
}
.center {
	text-align:center;
}
a {
	color: blue;
}
.lb {
	width:100%;
	font-size:12px;
	font-family:Verdana;
	height:400pt;
}
.hdr {
	text-align:center; font-weight:bold;
}
.centered {
	text-align:center;
}
div.hr {
	border: 1px rgb(0,0,0) solid
}
.comment {
	font-style:italic;
}
.alert {
	color:rgb(255,0,0);
}	
.fine {
	color:rgb(0,130,0);
}	
.sidepad {
}
.numinput {
	-wap-input-format: "*N";
}