<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Summary - Astromaximum</title>
<link href="/i/main.css" rel="stylesheet" type="text/css"/>
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="width" />
</head>
<body>
	<div class="hdr"><a href="#">Вт 29 Дек'09</a> - <a href="#">Kiev</a></div>
	<ul class="tab">
		<li><a href="vc" class="vc"><b>00:00<br/>03:12</b></a></li>
		<li><a href="voc" class="voc"></a></li>
		<li><a href="sun_day" class="sun_day">Day 14</a></li>
		<li><a href="sun_dgr" class="sun_dgr">9&deg; Cap</a></li>
		<li><a href="sun_riseset" class="sun_riseset"><b>07:54<br/>17:10</b></a></li>
		<li><a href="moon_day" class="moon_day">Day 13</a></li>
		<li><a href="moon_sign" class="moon_sign">Gem<br/></a></li>
		<li><a href="moon_riseset" class="moon_riseset">14:45<br/>05:18</a></li>
		<li><a href="moon_phase" class="moon_phase">Waxing<br/>gibbous</a></li>
		<li><a href="tithi" class="tithi">Tithi<br/>13</a></li>
		<li><a href="moon_move" class="moon_move"><img src="/i/z2.png" alt="Gem"/><img src="/i/p6.png" alt="Sa"/><img src="/i/a1.png" alt="120"/></a></li>
		<li>
			<a href="#" class="degree"><img src="/i/mo_p.png" alt="Mo+"/></a>
			<a href="#" class="degree"><img src="/i/me_m.png" alt="Mo+"/></a>
			</li>
	</ul>
</body>
</html>

