{% extends "m/base.html" %}
{% load summary_extras %}
{% block title %}Summary{% endblock %}
{% block content %}	    
	<ul class="tab">
        {% if event_list.vocs %}
            {% for ev in event_list.vocs %}<li>{{ ev|voc }}</li>{% endfor %}
        {% endif %}
	    {% if event_list.vc %}<li>{{ event_list.vc|vc }}</li>{% endif %}
		<li>{{ event_list.sun_degree|sun_degree }}</li>
		<li>{{ event_list.moon_sign|moon_sign }}</li>
		<li>{{ event_list.tithi|tithi }}</li>
        <li>{{ event_list.planet_hour|hour }}</li>
	</ul>
	<div class="clear"/>
    <ul class="lowtab">
        <li><a href="rise_set">Rise/Set</a></li>
        <li><a href="moon_move#start">Moon<br/>move</a></li>
        <li><a href="aspects">Aspects</a></li>
    </ul>
    <div class="clear"/>
    <p><a href="../{{ now|date:'Y-m-d' }}/{{ page_name }}">{{ now|date:'d M Y, H:i' }}</a></p>
    {% if settings.DEBUG %}
    <div class="event_list">
    	<h1>Events for today:</h1>
        <h2>Vocs</h2>
        <p>{{ event_list.vocs }}</p>
        <h2>VC</h2>
        <p>{{ event_list.vc }}</p>
        <h2>Sun degree</h2>
        <p>{{ event_list.sun_degree }}</p>
        <h2>Moon sign</h2>
        <p>{{ event_list.moon_sign }}</p>
        <h2>Tithi</h2>
        <p>{{ event_list.tithi }}</p>
        <h2>Planetary hour</h2>
        <p>{{ event_list.planet_hour }}</p>
        <h2>Aspects</h2>
        {% for ev in event_list.aspects %} 
            <p>{{ ev }}</p>
        {% endfor %}
        <h2>Moon move</h2>
        {% for ev in event_list.moon_move %} 
            <p>{{ ev }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
