<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Summary - Astromaximum</title>
<link href="/i/main.css" rel="stylesheet" type="text/css"/>
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="width" />
</head>
<body>
	<div class="hdr">
	    <a href="../{{ prev_date }}/summary">&lt;&lt;</a>
	    {{ current_date }}
	    <a href="../{{ next_date }}/summary">&gt;&gt;</a>
	    - <a href="location">Kiev</a></div>
	    
	<ul class="tab">
		<li>{% include "m/includes/vc.html" %}</li>
		<li>{% include "m/includes/vocs.html" %}</li>
		<li>{% include "m/includes/sun_day.html" %}</li>
		<li>{% include "m/includes/sun_dgr.html" %}</li>
		<li>{% include "m/includes/sun_riseset.html" %}</li>
		<li>{% include "m/includes/moon_day.html" %}</li>
		<li>{% include "m/includes/moon_sign.html" %}</li>
		<li>{% include "m/includes/moon_riseset.html" %}</li>
		<li>{% include "m/includes/tithi.html" %}</li>
		<li><a href="moon_move" class="moon_move"><img src="/i/z2.png" alt="Gem"/><img src="/i/p6.png" alt="Sa"/><img src="/i/a1.png" alt="120&deg;"/></a></li>
		<li>
			<a href="#" class="degree"><img src="/i/mo_p.png" alt="Mo+"/></a>
			<a href="#" class="degree"><img src="/i/me_m.png" alt="Mo+"/></a>
			</li>
	</ul>
	<p>&nbsp;</p>
    <div class="event_list">
    	<h1>Events for today:</h1>
        <h2>Sun riseset</h2>
        <p>{{ event_list.sun_rise }}</p>
        <p>{{ event_list.sun_set }}</p>
        <h2>Moon riseset</h2>
        <p>{{ event_list.moon_rise }}</p>
        <p>{{ event_list.moon_set }}</p>
        <h2>Vocs</h2>
        <p>{{ event_list.vocs }}</p>
        <h2>VC</h2>
        <p>{{ event_list.vc }}</p>
        <h2>Sun degree</h2>
        <p>{{ event_list.sun_degree }}</p>
        <h2>Moon sign</h2>
        <p>{{ event_list.moon_sign }}</p>
        <h2>Sun day</h2>
        <p>{{ event_list.sun_day }}</p>
        <h2>Moon day</h2>
        <p>{{ event_list.moon_day }}</p>
        <h2>Tithi</h2>
        <p>{{ event_list.tithi }}</p>
        <h2>Moon move</h2>
        <p>{{ event_list.moon_move }}</p>
        <h2>pltDaySun</h2>
        <p>{{ event_list.pltDaySun }}</p>
    </div>
</body>
</html>

