{% extends "m/base.html" %}
{% load summary_extras %}
{% load tz_extras %}
{% block title %}Summary{% endblock %}
{% block content %}	    
	<div class="tab">
        {% if event_list.vocs %}
            {% for ev in event_list.vocs %}<div>{{ ev|voc }}</div>{% endfor %}
        {% endif %}
	    {% if event_list.vc %}<div>{{ event_list.vc|vc }}</div>{% endif %}
		<div>{{ event_list.sun_degree|sun_degree }}</div>
		<div>{{ event_list.moon_sign|moon_sign }}</div>
		<div>{{ event_list.tithi|tithi }}</div>
        <div>{{ event_list.planet_hour|hour }}</div>
	</div>
	<div class="clear"/>
    <div class="lowtab">
        <div><a href="rise_set">Rise/Set</a></div>
        <div><a href="moon_move#start">Moon<br/>move</a></div>
        <div><a href="aspects">Aspects</a></div>
    </div>
    <div class="clear"/>
    <p><a href="../{{ now|date:'Y-m-d' }}/{{ page_name }}">{{ now|tz|date:'d M Y, H:i' }}</a></p>
    {% if settings.DEBUG %}
    <div class="event_list">
    	<h1>Events for today:</h1>
        <h2>Vocs</h2>
        <p>{{ event_list.vocs }}</p>
        <h2>VC</h2>
        <p>{{ event_list.vc }}</p>
        <h2>Sun degree</h2>
        <p>{{ event_list.sun_degree }}</p>
        <h2>Moon sign</h2>
        <p>{{ event_list.moon_sign }}</p>
        <h2>Tithi</h2>
        <p>{{ event_list.tithi }}</p>
        <h2>Planetary hour</h2>
        <p>{{ event_list.planet_hour }}</p>
        <h2>Aspects</h2>
        {% for ev in event_list.aspects %} 
            <p>{{ ev }}</p>
        {% endfor %}
        <h2>Moon move</h2>
        {% for ev in event_list.moon_move %} 
            <p>{{ ev }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <p>{{ user.username }}, {{ location }} <a href="settings">Settings</a></p>
{% endblock %}

