body,ul {
	margin:0;
}

.hdr,.ftr {
	text-align:center;
    padding:1em 0em;
}

.hdr a, .ftr a {
    text-decoration:none;
    padding:1em 0.5em;
    border: 1px solid #abe5ff;
}

.clear {
    clear:both;
}

.tab {
	display:block;
	padding:2px;
}

.tab div {
    border: 1px solid #abe5ff;
	font-size:.8em;
	display:block;
	margin:0.1em;
	float: left;
	position: relative;
	background: #F0F0F0;
	font-family:sans-serif;
    text-align:center;
}

.tab div a {
    text-decoration:none;
	display:block;
    width:5em;
    height:4em;
}

.lowtab {
    display:block;
    padding:2px;
}

.lowtab div {
    border: 1px solid #abe5ff;
    font-size:.8em;
    display:block;
    margin:0.1em;
    float: left;
    position: relative;
    background: #F0F0F0;
    font-family:sans-serif;
    text-align:center;
}

.lowtab div a {
    text-decoration:none;
    display:block;
    width:5em;
    height:2.2em;
}

.lowtab div a.move {
    width:2.5em;
}

.event_list {
    font-size: 50%;
}

.list a {
    text-decoration:none;
}
