body,ul {
	margin:0;
}

.hdr,.ftr {
	text-align:center;
    padding:1em 0em;
}

.hdr a, .ftr a {
    text-decoration:none;
    padding:1em 0.5em;
    border: 1px solid #abe5ff;
}

.clear {
    clear:both;
}

.tab {
    list-style-type:none;
	list-style-position:outside;
	list-style-image:none;
	display:block;
	padding:2px;
}

.tab li {
    border: 1px solid #abe5ff;
	font-size:.8em;
	display:block;
	margin:0.1em;
	float: left;
	position: relative;
	background: #F0F0F0;
	font-family:sans-serif;
    text-align:center;
}

.tab li b {
	color:red;
	font-weight:normal;
}

.tab li div {
	line-height:90px;
}

.tab li a {
    text-decoration:none;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	display:block;
	white-space:nowrap;
    width:5em;
    height:4em;
}

.tab li a.green {
    border-color: green;
}

.lowtab {
    list-style-type:none;
    list-style-position:outside;
    list-style-image:none;
    display:block;
    padding:2px;
}

.lowtab li {
    border: 1px solid #abe5ff;
    font-size:.8em;
    display:block;
    margin:0.1em;
    float: left;
    position: relative;
    background: #F0F0F0;
    font-family:sans-serif;
    text-align:center;
}

.lowtab li a {
    text-decoration:none;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display:block;
    white-space:nowrap;
    width:5em;
    height:2.2em;
}

.event_list {
    font-size: 50%;
}

.list a {
    text-decoration:none;
}
