/*общие*/
html, body {
	padding: 0;
	margin: 0;
/*	overflow-x:hidden;*/
}
html, body,  table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 84%;
	color: #505050;
}
a {
	text-decoration: none;
	color: #056A96;
}
a:hover {
/*	text-decoration: underline;*/
	font-weight: bold; 
}
h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #5A5A5A;
}
img {
	border: none;
}
input {
	border: 1px solid #336699;
}
.fixedinput {
	height: 15px;
	width: 88px;
}
ul {
	list-style-image: url('/i/bul.gif');
}
.bums {
	margin-top: 13px;
}
.bums input {
	border: none;
	height: 37px;
	width: 132px;
	background: url('/i/btn_off.png');
	color: #215F7C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.ok_on {
	border: none;
	height: 26px;
	width: 91px;
	background: url('/i/ok_on.png');
	color: #215F7C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.loginbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
	border: 0px;
	background-color: #FFFFFF;
	color: #056A96;
	font-weight: bold; 
	margin: 0px;
	cursor: pointer;
	cursor: hand;
}
.alert {
	color: #FF0000;
}	
.fine {
	color: #008000;
}	
.ok_off {
	border: none;
	height: 26px;
	width: 91px;
	background: url('/i/ok_off.png');
	color: #505050;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.lb {
	width: 100%;
	font-size: 10px;
	font-family: Verdana;
	height: 190pt;
}
.colorlist table {
	width: 90%;
}
.colorlist th {
	width: 222px;
/*	vertical-align: top; */
	background-color: #C5E1EF;
	padding: 7px;
	color: #215F7C;
	white-space: nowrap;
}
.colorlist th b {
	color: #000000;
}
.colorlist td {
	vertical-align: top;
	background-color: #EFF7FA;
	padding: 7px;
	color: #215F7C;
}
.shot {
	margin: 5px;
    text-align: center;
}

.shot textarea{
	font-size: 12px;
}

/*дизайн*/
#globe {
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left,top;
	background: url('/i/fon.jpg') repeat-x 956px top;
}
#logoText {
	position: absolute;
	top: 151px;
	left: 448px;
	color: #205F7B;
	font: 13px  bolder;
	width: 400px;
	text-align: center;
}
#js_warn {
	position: absolute;
	top: 191px;
	left: 448px;
	font: 11px  bolder;
	width: 400px;
	text-align: center;
}

#menu {
	position: absolute;
	top: 10px;
	left: 370px;
}
#lang {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #056A96;
}
#demo {
	position: absolute;
	top: 197px;
	left: 345px;
	width: 306px;
	height: 91px;
	background: url('/i/button.jpg') no-repeat center center;
	font: bold 18px bold Arial Black;
	color: #215F7C;
	text-align: center;
	padding-top: 42px;
}
#demo_off {
	position: absolute;
	top: 197px;
	left: 345px;
	width: 306px;
	height: 91px;
	background: url('/i/button.jpg') no-repeat center center;
	font: bold 18px bold Arial Black;
	color: #85C3E0;
	text-align: center;
	padding-top: 42px;
}
#buy {
	position: absolute;
	top: 197px;
	left: 676px;
	width: 306px;
	height: 91px;
	background: url('/i/button.jpg') no-repeat center center;
	font: bold 18px bold Arial Black;
	color: #215F7C;
	text-align: center;
	padding-top: 42px;
}
/*левое меню*/
#leftColumn {
	margin: 0px 0px 33px 11px;
	width: 246px;
	float: left;
}
#lang p {
	font-size: 9px;
	color: #69B6EB;
}
#leftColumn h5 {
	font-size: 11px;
	color: #818181;
}
#leftColumn p {
	font-size: 9px;
	color: #606060;
	clear: both;
	margin: 5px 0px 5px 0px;
}
#leftColumn img {
	height: 26px;
	width: 26px;
	float: left;
	margin: 7px 7px 7px 0px;
}
#leftColumn p a b {
	font-size: 11px;
	font-weight: bold;
	color: #818181;
}
#leftColumn p a:hover b {
	color: #606060;
}
.gogo {
	padding: 11px 0px 0px 33px;
}
.no_border input {
    border: none;
}
/*основной текст*/
#content {
	margin-left: 360px;
	padding-right: 18px;
}
#usredit input {
	width: auto;
	height: auto;
}
.gallery img{
	border: none;
    vertical-align: top;
}
.gallery td{
	padding: 0px 25px 5px 25px;
}
.city a {
	text-decoration: none;
	color: #056A96;
	font-weight: normal;
}
.city a:hover {
	text-decoration: underline;
	font-weight: normal;
}
/*подвал*/
#bottom {
	clear: both;
	height: 102px;
	border-top: 1px solid #C5E1EF;
	background: url('/i/bottom.jpg') no-repeat right top;
	text-align: right;
}
#bottom p {
	margin: 47px 47px 0 0;
}
/* shot.php */
#shotnav {
    font-size: 13px;
    width: 100%;
    border: 1px;
}
#shotnav tr {
	text-align: center;
}
#shotnav td {
    width: 50%;
}
.bank {
    font-size:10px;
    padding-left:20px;
    font-weight: bold;
    height: 20px;
    vertical-align: bottom;
}
