{% extends "desktop/base.html" %}
{% load i18n %}
{% block content %}
<p>City installer created: <i>Albuquerque, USA</i> (2011)</p>
<h4>Download to PC:</h4><a href="http://www.astromaximum.com/mobi/data.php?r=11258209040837">JAR (10.0 Kb)</a><br/>
<a href="http://www.astromaximum.com/mobi/data.php?d=11258209040837">JAD (413 b)</a><br>
<br/>BOTH files are necessary for installation. Save them to the same folder<br/><br/><span class="alert">Link(s) valid within next 2 hours!</span><br/><br/><a href="dl">Back</a>
{% endblock %}
